/* color palette
dark blue: rgba(122,131,153,1)
cooler light blue: rgba(192,210,255,1)
 */
 html, body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';

	background-image: url('chess.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	overflow: auto;
}
h2{
	font-size: 3em;
	line-height: 2em;
	color: #e2b659;
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
}


header img {
	display: block;
	margin: 0 auto;
	padding-top: 6%;
	width: 120px;
}

h1 {
	font-size: 3em;
	line-height: 2em;
	color: #e2b659;
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
}

.myborder {
	border-top: 1px solid rgba(122, 131, 153, 0.25);
	width: 70%;
	margin: 1em auto;
}

.mybutton {
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
    font-family: 'Source Sans Pro';
	display: block;
	background-color: gray;
	width: 7em;
	margin: 1.25em auto;
	text-decoration: none;
	color: white;
	padding: 0.25em;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.mybutton:hover {
	background-color: lightslategray;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

header p {
	font-size: 1.2em;
	line-height: 1.4em;
	color: gray;
	
}

.bold_text {
	font-weight: 700;
}

.two_columns {
	width: 70%;
	margin: 0 auto;
	padding: 1%;
	display: flex;
	flex-direction: row; /* so that the columns appear side-by-side */
	background-color: #fff;
	border-radius: 10px;
	flex-wrap: wrap; /* columns drop side-to-bottom when needed */
}

.column {
	display: flex;
	flex-direction: column; /* contents appear top-to-bottom */
	flex: 1; /* makes column widths the same = 1 */
	margin: 1em 1em 0 1em;
}
#speaker_heading {

	margin-left: 5%;
}

@media  screen and (max-width: 376px){

	body {
		height: 100%;
	}
	h2{
		margin-left: -2%;
		margin-top: 6%;
	}
	.mybutton{
		margin-left: 20%;
		padding: 5%;
		width: 10em;
		font-weight: 600;
	}
	.two_columns {
		
        padding-bottom: 7%;
        width: 90%;
	}
	.myborder{
		display: none;
	}
	h1{
		
		
		text-align: center;
		margin-left: 0%;
		margin-bottom: 5%;
		line-height: normal;
		left: 100px;	

	}

	header img {
        margin-left: 35%;
	}


}

@media screen and (max-width:810px) {
	.mybutton {
		padding: 0.55em;
		font-weight: 600;
	}
}


