#timetable	{
	width: 100%;
	margin-top: 40px;
}
table	{
	width: 60%;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	text-align: left;
	margin: 0 auto;
	border-spacing: 16px 16px; /* This is more like cell spacing */
	background-color: #000000;
	box-shadow: 0 6px 12px rgba(0,0,0,0.2);
	border-radius: 4px;
    margin-bottom: 10%;
	border-radius: .4em;
}
.r_align	{
	text-align: right;
}
.gray_text 	{
	color:#f9f871;
}



@media  screen and (max-width: 376px){


	table {
		margin-left: 0%;
		border-spacing: 10px 10px;
	}
}